<a href="/test/newEvent">
<input type="button" value="Ajouter un nouvel Event">
</a>
<!-- Foreach-->
{{#events}}

<ol>
{{name}} <input type="button" value="View">
<input type="button" value="Edit">

</ol>

{{/events}}
