<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>َDatasMAP by NTD</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

<form class="box" action="/test/connexion" method="post">
  <h1>DatasMAP Login</h1>
  <input type="text" name="userName" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" name="submit" value="Login">
  <a href="/test/dash">Go to DatasMAP without an account</a> <br> or <br>
  <a href="/test/register">Register</a>
</form>
  </body>
</html>
