<form action="/test/AddEvent">
Name </br>
<input type="text" name="name" id="name"> </br>
</br>

Domain </br>
<input type="text" name="description" id="description"> </br>
</br>

Date </br>
<input type="text" name="date" id="date"> </br>
</br>

</br>

<button type="submit"> Validate</button>
<button type="cancel"> Cancel</button>

</form>
