<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
    <title>َDatasMAP by NTD</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

<form class="box" action="/test/submit" method="POST">
  <h1>DatasMAP Register</h1>
  <input type="text" name="userName" placeholder="Username">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <!-- 
  <input type="password" name="" placeholder="Password verification">
   -->
  <input type="submit" name="submit" value="Register">
  <a href="/test/index">Go to DatasMAP without an account</a> <br> or <br>
  <a href="/test/dash">Login</a>
</form>


  </body>
</html>
